#bakerloo{
  border: 3px solid $bakerloo;
}

#central{
  border: 3px solid $central;
}

#circle{
  border: 3px solid $circle;

}

#district{
  border: 3px solid $district;

}

#hammersmith-city{
  border: 3px solid $hammersmith-city;

}

#jubilee{
  border: 3px solid $jubilee;

}

#metropolitan{
  border: 3px solid $metropolitan;

}

#northern{
  border: 3px solid $northern;
  
}

#piccadilly{
  border: 3px solid $piccadilly;

}

#victoria{
  border: 3px solid $victoria;

}

#waterloo-city{
  border: 3px solid $waterloo-city;

}