$bakerloo: #894e24;
$central: #dc241f;
$circle: #ffce00;
$district: #007229;
$hammersmith-city: #d799af;
$jubilee: #6a7278;
$metropolitan: #751056;
$northern: #000;
$piccadilly: #162fbd;
$victoria: #00a0e2;
$waterloo-city: #76d0bd;
